.wrap {

    text-align: center;
}
.wrap span {
    display: inline-block;
    cursor: pointer;
}
.size-1 span {
    width: 90px;
    height: 90px;
}
.size-2 span {
    width: 80px;
    height: 80px;
}
.size-3 span {
    width: 70px;
    height: 70px;
}
.size-4 span {
    width: 60px;
    height: 60px;
}
.size-5 span {
    width: 50px;
    height: 50px;
}
.size-6 span {
    width: 40px;
    height: 40px;
}
.size-7 span {
    width: 30px;
    height: 30px;
}
.size-8 span {
    width: 20px;
    height: 20px;
}
input {
    background: none;
    border: 1px solid #666;
    padding: 2px 3px;
    margin: 0;
}

.html {
    height: 150px;
}

.form {
    display: block;
}
.form:after,
.form::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    clear: both;
    visibility: hidden;
}

.form .row {
    width: 50%;
    float: left;
}
.form .row label {
    display: block;
}

.form .wrap {
    width: 100%;
    float: left;
    margin-top: 15px;
}