<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no,email=no">
    <title>mvvm</title>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body vm-controller="my-vm">
    <p class="wrap" vm-html="name" vm-css-color="color"></p>
    <div class="wrap">
        <input type="checkbox" name="color" vm-value="value" value="#99bbe1">
        <input type="checkbox" name="color" vm-value="value" value="#99cef0">
        <input type="checkbox" name="color" vm-value="value" value="#b8e2f6">
        <input type="checkbox" name="color" vm-value="value" value="#d5f3f6">
        <input type="checkbox" name="color" vm-value="value" value="#e6f8fa">
        <input type="checkbox" name="color" vm-value="value" value="#f9ebc4">
        <input type="checkbox" name="color" vm-value="value" value="#fbd7a9">
        <input type="checkbox" name="color" vm-value="value" value="#e49191">
    </div>
    <div vm-html="value" vm-attr-class="'wrap size-' + value.length" vm-css-color="color">
        <script type="text/html">
            <%
            for(var i = 0; i < value.length; i++){
                var color = value[i];
            %>
            <span style="background-color: <%= color %>" vm-on-click="setBorderColor('<%= color %>')"></span>
            <% } %>
        </script>
    </div>
    <p class="wrap" vm-css-color="color">
        <label>name: <input type="text" value="" vm-value="name" vm-css-border-color="color" vm-css-color="color"/></label>
    </p>
    <p class="wrap" vm-css-color="color">
        <label>change color:
            <select name="color" vm-html="value" vm-value="color">
                <script type="text/html">
                    <%
                        for(var i = 0; i < value.length; i++){
                            var color = value[i];
                    %>
                    <option value="<%= color %>"><%= color %></option>
                    <% } %>
                </script>
            </select>
        </label>
    </p>
    <script src="../dist/mvvm.mobile.js"></script>
    <script>
        var colorArr = {'#99bbe1': '深蓝', '#99cef0': '蓝色', '#b8e2f6': '浅蓝', '#d5f3f6': '淡蓝', '#e6f8fa': '淡黄', '#f9ebc4': '浅黄', '#fbd7a9': '橘黄', '#e49191': '红色'};
        var vmData = new MVVM('my-vm',  {
            name: '彩虹',
            value: ['#e49191'],
            color: '',
            setBorderColor: function(color) {
                vmData.color = color;
                vmData.name = colorArr[color];
            }
        });
    </script>
</body>
</html>